@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
  color: #006064;
  font-size: medium;
}
.wrapper {
  background: #b2ebf2;
  background: -webkit-linear-gradient(top left, #b2ebf2 0%, #00acc1 100%);
  background: linear-gradient(to bottom right, #b2ebf2 0%, #00acc1 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  height: 400px;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signIn {
  width: 300px;
}
.myPage {
  width: 300px;
}
.alert {
  color: #ff1744;
  font-size: medium;
}
